startup --host_jvm_args=-XX:-UseParallelGC
#startup --output_base="~/.cache/bazel/base"
#startup --output_user_root="~/.cache/bazel/user_root"

build --show_timestamps --keep_going --jobs 180
build --color=yes
build --check_visibility=false
build --compilation_mode=dbg
