## cmake
builddir

## bazel
bazel-*

## clang
compile_commands.json

## thrift
**/gen-cpp/*
**/gen-go/*
**/gen-java/*

# python
*.pyc

## poetry
dist

# golang
coverage.txt
tutorial/thrift/tools/proxy-buffered-to-framed

## maven
tutorial/thrift/echo/java/target/*
tutorial/protobuf/serialize/java/bin/

## gradle
.gradle
tutorial/thrift/echo/java/build
tutorial/thrift/echo/java/bin

## rust
target/
gen_rs/
