# vscode
.vscode

# C++
## cmake
builddir

## bazel
bazel-*

## clang
compile_commands.json

## thrift
**/gen-cpp/*
**/gen-go/*
**/gen-java/*

# python
*.pyc

## poetry
dist

# bazel
bazel-*
compile_commands.json
